body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

nav {
    border-top: 3px solid royalblue;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid royalblue;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: navy;
    margin-top: 15px;
    margin-bottom: 15px;
}

.head_img {
    width: 700px;
}

h2 {
    color: green;
    margin-left: 100px;
    font-size: 30px;
    font-family: cursive;
}

.catalog a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 30px;
    background-color: lightblue;
}

.product {
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 5px double orange;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: bisque;
}

.product::before {
    content: url("https://backoffice.algoritmika.org/uploads/2021/03/paw-155322_1280%201_0_1614946877.png");
    width: 30px;
    height: 30px;
    display: block;
    opacity: 0.5;
    margin-bottom: 10px;
}

.product:hover::before {
    opacity: 1;
}

.principles {
    display: flex;
    border-top: 5px solid navy;
    border-bottom: 5px solid navy;
    justify-content: space-between; 
    width: 700px;
    margin: 0 30px;
    padding: 30px;
    text-align: center;
}

.principle {
    width: 120px;
}

.question-answer {
    margin: 30px;
}

.question {
    color: brown;
}

.qua-item::before {
    content: url("https://backoffice.algoritmika.org/uploads/2021/03/question_0_1614951460.svg");
    width: 10px;
    height: 20px;
    display: inline-block;
}

.slogan {
    display: flex;
    padding: 30px;
    color: mediumblue;
    margin-left: 150px;
}

.slogan_img {
    padding: 10px;
    border: 5px solid orange;
    border-radius: 50%;
}

.slogan_text {
    float:left;
    color: mediumblue;
    margin: 20px;
    width: 300px;
}

footer {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    font-size: 20px;
}