* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;/* width: 109px; *//* height: auto; */}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
body {
    font-family: "BPG Mrgvlovani Caps", sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

nav {
    font-family: "BPG Mrgvlovani Caps", sans-serif;
    border-top: 3px solid royalblue;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid royalblue;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    background: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    /* border: 1px solid violet; */
    border-radius: 9px;
}

nav a:hover {
    background: #764949; 
    /* margin-top: 5px; */
     padding: 25px;
}
.head_img {
    width: 700px;
}

h2 {
    color: green;
    margin-left: 100px;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}

.catalog a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
    margin-top: 39px;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 700px;
    margin: 30px 0 30px 0;
    background-color: lightblue;
}

.product {
    width: 300px;
    height: 280px;
    text-align: center;
    padding: 10px;
    border: 5px double #764949;
    margin-top: 40px;
    margin-left: 27px;
    color: white;
    margin-bottom: 40px;
    background-color: white;
}

.product::before {
    content: url("https://backoffice.algoritmika.org/uploads/2021/03/paw-155322_1280%201_0_1614946877.png");
    width: 30px;
    height: 30px;
    display: block;
    opacity: 0.5;
    margin-bottom: 10px;
}

.product:hover::before {
    opacity: 1;
}

.principles {
    display: flex;
    border-top: 5px solid navy;
    border-bottom: 5px solid navy;
    /* justify-content: space-between; */
    /* width: 700px; */
    /* margin: 0 30px; */
    /* padding: 30px; */
    padding: 30px 0px 30px 0px;
    width: 100%;
    text-align: center;
    /* margin-left: 146px; */
}
.center {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.principle {
    width: 236px;
    margin-left: 95px;
}

.question-answer {
    margin: 30px;
}

.question {
    color: brown;
}

.qua-item::before {
    content: url("https://backoffice.algoritmika.org/uploads/2021/03/question_0_1614951460.svg");
    width: 10px;
    height: 20px;
    display: inline-block;
}

.slogan {
    display: flex;
    padding: 30px;
    color: mediumblue;
    margin-left: 150px;
}

.slogan_img {
    padding: 10px;
    border: 5px solid orange;
    border-radius: 50%;
}

.slogan_text {
    float:left;
    color: mediumblue;
    margin: 20px;
    width: 300px;
}

footer {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    font-size: 20px;
}